body {
  font-family: 'Volkhov', serif;
  overflow-x: hidden;
  background-image: url("../img/brickwall.png");
  background-repeat: both;
}
button {
  font-family: 'Volkhov', serif;
  user-select: none;
}

#particle-canvas {
  position: absolute;
  z-index: -10;
  top: 0;
  pointer-events: none;
}
#turn-crank {
  background-color: #F2DC35;
}

#welcomeback {
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  left:0; right:0; top: 50px;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
  width: 50%;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  display: none;
}

.info {
  border: 2px groove black;
  padding: 5px;
  margin: 4px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  display: none;
  font-size: 14px;

}
.recipes {
  border: 2px groove green;
  padding: 5px;
  margin: 4px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  display: none;

}
.artifacts {
  border: 3px dashed #981DD1;
  padding: 5px;
  margin: 4px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  display: none;
}
.golems {
  border: 2px groove black;
  padding: 5px;
  margin: 4px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  display: none;
  font-size: 13px;
}

.ingredients {
  border: 2px groove #A8A087;
  padding: 5px;
  margin: 4px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  display: none;

}
.machines {
  border: 2px groove #A8A087;
  padding: 5px;
  margin: 4px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
.research {
  border: 2px groove #A8A087;
  padding: 5px;
  margin: 4px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  display: none;

}
.tools {
  border: 2px groove #60B541;
  padding: 5px;
  margin: 4px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  display: none;

}
.orders {
  border: 2px groove #A8A087;
  padding: 5px;
  margin: 4px;
  display: none;
  font-size: 13px;
}
.messages {
  border: 2px dotted black;
  height: 250px;
  overflow: scroll;
  margin: 4px;
  padding: 5px;
  font-size: 14px;
  display: none;
}

.ingredient {
  display: inline-block;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 3px;
  margin: 5px;
  cursor: pointer;
  z-index: 0;
  width: 100px;
}
.machine {
  display: inline-block;
  border: 2px solid grey;
  border-radius: 2px;
  padding: 8px;
  margin: 10px;
  z-index: 0;
  max-width: 33%;
}
.researchable {
  display: inline-block;
  border: 2px solid grey;
  border-radius: 2px;
  padding: 2px;
  margin: 4px;
  z-index: 0;
  cursor: pointer;
  width: 31.5%;
  font-size: 12px;
}


.ingredienthover {
  background: #CCCCCC;
}

.centered-header {
  text-align: center;
  margin-top: 2px;
  text-decoration: underline;
}
.action {
  border: 1px solid grey;
  border-radius: 2px;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.removeauto {
  text-decoration: underline;
  cursor: pointer;
  font-size: 11px;
}

#showdonationleaderboard {
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}
